@tailwind base; 
@tailwind components; 
@tailwind utilities;


input {
  outline: 0;
}

body {
  background: #FAFAFA
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #EDEDED inset !important;
}

.description {
  display: -webkit-box;
  /* limita quantas linhas serao exibidas */
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}