@tailwind base; 
@tailwind components; 
@tailwind utilities;


input {
  outline: 0;
}

body {
  background: #FAFAFA
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #EDEDED inset !important;
}

// funciona android, mas iphone nao

.description {
  display: -webkit-box;
  /* limita quantas linhas serao exibidas */
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.markDownFormatter h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem 0 1rem;
  padding: .5rem ;
  border-bottom: 1px solid #1C2F41;

  @media (max-width: 640px) {
    font-size: 1rem;
  }
}

.markDownFormatter h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1.5rem 0 1rem;
}

.markDownFormatter li {
  list-style-type: disc;
}
